$main-orange: #EE4E34;
$main-beige: #FCEDDA;
$accent-beige: #fed8b1;
$google-font: 'Mulish', sans-serif;

@mixin flexDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}