$main-orange: #EE4E34;
$main-beige: #fceedc;
$accent-beige: #fadfc4;
$project-bg-color: #F9EBDE;
$google-font: 'Mulish', sans-serif;

@mixin flexDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}