@import 'mixins';

* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
body {
    @include flexDisplay();
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    font-family: monospace;
    .container {
        @include flexDisplay();
        width: 100vw;
        min-height: 100vh;
        nav {
            position: fixed;
            top: 0;
            z-index: 1;
            background: $main-orange;
            color: $main-beige;
            width: 100vw;
            height: 50px;
            .nav-links {
                @include flexDisplay();
                flex-direction: row;
                height: 50px;
                justify-content: flex-end;
                margin-right: 5vw;
                flex-wrap: wrap;
                li {
                    @include flexDisplay();
                    margin-right: 5vw;
                    a {
                        color: $main-beige;
                        text-decoration: none;
                        font-size: 1.5em;
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                            text-decoration: underline;
                        }
                        @media (max-width: 300px) {
                            font-size: 1.25em;
                        }
                        @media (max-width: 250px) {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
        .page-body {
            position: absolute;
            top: 50px;
            .main-display {
                width: 100vw;
                height: 90vh;
                background: $main-beige;
                color: $main-orange;
                @include flexDisplay();
                h1 {
                    font-size: 4em;
                    margin: 1em;
                    max-width: 80vw;
                }
                h2 {
                    font-size: 1.75em;
                    font-style: italic;
                    max-width: 75vw;
                }
                @media (max-width: 380px) {
                    h1 {
                        font-size: 3em;
                    }
                    h2 {
                        font-size: 1.25em;
                    }
                }
                @media (max-width: 280px) {
                    h1 {
                        font-size: 2em;
                    }
                    h2 {
                        font-size: 1em;
                    }
                }
            }
            .about {
                background: linear-gradient(180deg, $main-beige, #fed8b1);
                color: $main-orange;
                width: 100vw;
                height: 75vh;
                @include flexDisplay();
                justify-content: space-evenly;
                h1 {
                    font-weight: 800;
                    font-size: 2em;
                    text-decoration: underline;
                }
                p {
                    width: 50vw;
                    line-height: 3;
                    overflow: scroll;
                }
            }
            .skills {
                @include flexDisplay();
                background: $main-orange;
                color: $main-beige;
                width: 100vw;
                height: 75vh;
                .skillset {
                    text-align: center;
                    margin-bottom: 5vh;
                    font-size: 2em;
                    text-decoration: underline;
                }
                .skills-list {
                    display: inline;
                    list-style-type: none;
                    .skill {
                        text-align: left;
                        margin: 2vh auto;
                        margin-left: 5vw;
                        font-size: 1.5em;
                        justify-self: flex-start;
                    }
                }
            }
            .projects {
                width: 100vw;
                height: 80vh;
                background: $main-beige;
                color: $main-orange;
                @include flexDisplay();
            }
            footer {
                @include flexDisplay();
                width: 100vw;
                height: 100px;
                background: $main-orange;
                color: $main-beige;
                p {
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 1.25em;
                }
                .contact-links {
                    @include flexDisplay();
                    flex-direction: row;
                    li {
                    @include flexDisplay();
                    margin: 0 2.5vw;
                    i {
                        margin-right: 1vw;
                    }
                    a {
                        color: $main-beige;
                        text-decoration: none;
                        font-size: 1em;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
                }
            
            }
        }
    }
}