@import 'mixins';

* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
body {
    @include flexDisplay();
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    font-family: monospace;
    .container {
        @include flexDisplay();
        width: 100vw;
        min-height: 100vh;
        nav {
            position: fixed;
            top: 0;
            z-index: 1;
            background: $main-orange;
            color: $main-beige;
            width: 100vw;
            height: 125px;
            .nav-links {
                @include flexDisplay();
                flex-direction: row;
                height: 125px;
                justify-content: flex-end;
                margin-right: 5vw;
                flex-wrap: wrap;
                li {
                    @include flexDisplay();
                    margin-right: 5vw;
                    a {
                        color: $main-beige;
                        text-decoration: none;
                        font-size: 1.5em;
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.2);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .page-body {
            position: absolute;
            top: 125px;
            .main-display {
                width: 100vw;
                height: 80vh;
                background: $main-beige;
                color: $main-orange;
                @include flexDisplay();
                h1 {
                    font-size: 4em;
                    margin-bottom: 1em;
                }
                h2 {
                    font-size: 1.75em;
                    font-style: italic;
                }
            }
            .about {
                background: linear-gradient(180deg, $main-beige, #fed8b1);
                color: $main-orange;
                width: 100vw;
                height: 35vh;
                @include flexDisplay();
                justify-content: space-evenly;
                h1 {
                    font-weight: 800;
                    font-size: 2em;
                    font-style: italic;
                }
                p {
                    overflow: scroll;
                }
            }
            .projects {
                width: 100vw;
                height: 80vh;
                background: $main-beige;
                color: $main-orange;
                @include flexDisplay();
            }
            footer {
                .contact-links {
                    width: 100vw;
                    height: 75px;
                    background: $main-orange;
                    color: $main-beige;
                    @include flexDisplay();
                    flex-direction: row;
                    justify-content: space-evenly;
                    li {
                    @include flexDisplay();
                    a {
                        color: $main-beige;
                        text-decoration: none;
                        font-size: 1em;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
                }
            
            }
        }
    }
}