* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  font-family: monospace;
  background: #FCEDDA;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
body .container nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #EE4E34;
  color: #FCEDDA;
  width: 100vw;
  height: 50px;
}
body .container nav .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  justify-content: flex-end;
  margin-right: 5vw;
}
body .container nav .nav-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}
body .container nav .nav-links li a {
  color: #FCEDDA;
  text-decoration: none;
  font-size: 1.25em;
}
body .container nav .nav-links li a:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-decoration: underline;
}
@media (max-width: 346px) {
  body .container nav .nav-links li a {
    font-size: 1em;
  }
}
@media (max-width: 277px) {
  body .container nav .nav-links li a {
    font-size: 0.8em;
  }
}
body .container .page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
}
body .container .page-body .main-display {
  width: 100vw;
  height: 90vh;
  background: #FCEDDA;
  color: #EE4E34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .page-body .main-display h1 {
  font-size: 4em;
  margin: 1em;
  max-width: 80vw;
}
body .container .page-body .main-display h2 {
  font-size: 1.75em;
  font-style: italic;
  max-width: 75vw;
}
@media (max-width: 380px) {
  body .container .page-body .main-display h1 {
    font-size: 3em;
  }
  body .container .page-body .main-display h2 {
    font-size: 1.25em;
  }
}
@media (max-width: 280px) {
  body .container .page-body .main-display h1 {
    font-size: 2em;
  }
  body .container .page-body .main-display h2 {
    font-size: 1em;
  }
}
body .container .page-body .about {
  background: linear-gradient(180deg, #FCEDDA, #fed8b1);
  color: #EE4E34;
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
body .container .page-body .about h1 {
  font-weight: 800;
  font-size: 2em;
  text-decoration: underline;
}
body .container .page-body .about p {
  width: 75vw;
  line-height: 3;
  font-size: 1.15em;
  overflow: scroll;
}
body .container .page-body .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EE4E34;
  color: #FCEDDA;
  width: 100vw;
  height: 65vh;
  box-shadow: 1px 1px 15px grey;
}
body .container .page-body .skills .skillset {
  text-align: center;
  margin-bottom: 5vh;
  font-size: 2em;
  text-decoration: underline;
}
body .container .page-body .skills .skills-list {
  display: inline;
  list-style-type: none;
}
body .container .page-body .skills .skills-list .skill {
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 5vw;
  font-size: 1.5em;
  justify-self: flex-start;
}
body .container .page-body .projects {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #fed8b1, #FCEDDA);
  color: #EE4E34;
  box-shadow: 1px 1px 15px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .page-body .projects .projects-header {
  font-size: 2em;
  text-decoration: underline;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
body .container .page-body .projects .projects-and-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
body .container .page-body .projects .projects-and-info .project {
  margin: 2vh 2vw;
  width: 45vw;
  min-width: 300px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .page-body .projects .projects-and-info .project img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
body .container .page-body .projects .projects-and-info .project p {
  text-align: center;
}
body .container .page-body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  background: #EE4E34;
  color: #FCEDDA;
}
body .container .page-body footer p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25em;
  font-weight: 600;
}
body .container .page-body footer .contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .container .page-body footer .contact-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5vw;
  font-weight: 500;
}
body .container .page-body footer .contact-links li i {
  margin-right: 1vw;
}
body .container .page-body footer .contact-links li a {
  color: #FCEDDA;
  text-decoration: none;
  font-size: 1em;
}
body .container .page-body footer .contact-links li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
